* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.header {
    height: 100vh;
    width: 100%;
    background-image: -webkit-linear-gradient(0deg,#4dabff 0%,#62ddff 100%);
    
}
.leftside {
    height: 100vh;
    width: 45%;
    
}
.rightside {
    height: 100vh;
    width: 55%;
    

}
.zasides {
    display: flex;
}
.navigationbar {
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
}
@media (min-width: 992px)
{
    .navigationbar {
        flex-direction: row;
        background-image: -webkit-linear-gradient(0deg,#4dabff 0%,#62ddff 100%);
    }
}
@media (max-width: 992px)
 {
    .other {
        display: none;
    }
    
 }
.nexus1 {
    margin-top: 40px;

 
}
.other a {
    text-decoration: none;
    color: white; 
    font-size: 12px;
    font-weight: 600;
    padding: 20px;
}

.other {
    margin-top: 30px;
    margin-right: 0px;

}
.home {
    padding: 10px;
}
.zatrial a {
    text-decoration: none;
    color: white;

    border: 1px solid white;
    padding: 17px 35px; 
    font-size: 13px;
    font-weight: bold;
    border-radius: 3px;
}
.zatrial {
    margin-top: 30px;   
}
.linije1 {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px;
}
.linije {
    margin-top: 30px;
    display:none;
}

@media (max-width: 992px)
{.zatrial {
    display: none;
    
}
.nexus1 {
    padding-left: 40px;
    
}
.navigationbar {
    display: flex;
    justify-content: space-between;
}
.linije {
    display: inline-block;
    padding-right: 40px;    
    cursor:pointer;
}

}   

.nexus1 {
    margin: 30px;
}

.zabar {
    display: none;
}
@media (max-width: 800px)
{
    .navigationbar {
        display: flex;
        justify-content: space-between;
    }
    .nexus1 {
        padding-left: 0;
    }
}
.para1 {
    color: white;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
    
}
.para2 {
    color: white;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;

}
.para{
    margin-top: 200px;
    margin-left: 100px;
}
.but1{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 17px 35px; 
    font-size: 13px;
    font-weight: bold;
    border-radius: 3px;
    margin-right: 10px;
    
}
.but2 {
    text-decoration: none;
    color:black;
    border: 1px solid white;
    padding: 17px 35px; 
    font-size: 13px;
    font-weight: bold;
    border-radius: 3px;
    background-color: white;
    
}
.but{
    display: flex;
    margin-right: 70px;
    margin-top: 40px;
    
}
.leftside {
display: flex;
align-items: center;
flex-direction: column;

}
@media (max-width: 1200px)
{
    .para1{
        font-size: 35px;
    }
    .but{ margin-left: 
        99px
        
        }
        .header {
        height: 170vh;
        }
        
}
.slika1 {
    height: 350px;
    margin-top: 160px;
    display: inline-block
}
@media (max-width: 1200px)
{.slika1 {
height: 300px;
padding-top: 50px;
}}
@media (max-width: 992px)
{
    .slika1 {
        display:none;
    }
    .leftside {
        display: none;
    }
    .rightside {
    display: none;
    }
    .header{
        height: 100vh;
    }
}
@media (min-width: 992px)
{
    .exp {
        display: none;
        
    }
}
.para3 {
    color: white;
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: bold;
    padding-top: 80px;

}
.para4 {
    color: white;
    line-height: 25px;
    font-size: 14px;
}
.paraexp {
    margin-left: 80px;
    margin-top: 70px;
}
.butexp {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 17px 35px; 
    font-size: 13px;
    font-weight: bold;
    border-radius: 3px;
    margin-right: 10px;
}
.butexp2 {
    text-decoration: none;
    color:black;
    border: 1px solid white;
    padding: 17px 35px; 
    font-size: 13px;
    font-weight: bold;
    border-radius: 3px;
    background-color: white;   
}
.but5 {
    display: flex;
    margin-left: 80px;
    margin-top: 40px;
}
.header1 {
    height: 85vh;
    width: 100%;
    background-color: white;
}
.text1{
    padding-top: 120px;
}
.maintext {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
    
}
.bottomtext {
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    color: gray;
}
.tabele {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
}
.tabela {
    height: 300px;
    width: 300px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.fa-solid {
    font-size: 30px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: lightgray;

}
.fa-regular {
    font-size: 30px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: lightgray;
}
.stunning {
    font-weight: bold;
    font-size: 20px;
    margin-top: 25px;
}
.kola {
    color: gray;
    margin-top: 20px;
}
.zahov {
    width: 300px;
}
.zahov:hover {
    color: blue;
    
}

.header3 {
    height: 110vh;
    width: 100%;
    background-color: whitesmoke
}
.dugmad {
    display: flex;
    justify-content: space-evenly;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 120px;
}
.dugme {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 20px 80px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
}
.drugo1 {
    padding: 20px 60px;
}
.trece1 {
    padding: 20px 60px;
    background-image: -webkit-linear-gradient(0deg,#4dabff 0%,#62ddff 100%);
}
.cetvrto1 {
    padding: 20px 60px;
    
}
.left{
    height: 500px;
    width: 49%;
    background-color: blue;
    display: inline-block;
    
}
.right {
    height: 500px;
    width: 47%;
    background-color: gray;
    display: inline-block;

}
.left4 {
    width: 53%;
    
    
}
.right4 {
    width: 50%;
    
}
.change1 {
    font-weight: bold;
    color: black;
    font-size: 35px;
    padding-top: 130px;
}
.listen1 {
    padding-top: 25px;

}
.lorem1 {
    color: gray;
    font-size: 13px;
    padding-left: 130px;
    padding-top: 10px;
    line-height: 20px;
    
    
}
.onak {
    text-decoration: none;
    color: white;
    background-image:  -webkit-linear-gradient(0deg,#4dabff 0%,#62ddff 100%);
    padding: 20px 40px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    margin-top: 30px;
    margin-right: 150px;
}
.textk {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slikaj1 {
    padding-top: 100px;
}

@media (max-width: 1400px)
{
    .dugmad {
        display: flex;
        justify-content: space-evenly;
        padding-left: 130px;
        padding-right: 130px;
        padding-top: 120px;
    }
}
@media (max-width: 1300px)
{
    .dugmad {
        display: flex;
        justify-content: space-evenly;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 120px;
    }
}
@media (max-width: 1300px)
{
    .lorem1 {
        padding-left: 90px;
    }
}

    

    @media (max-width: 1200px)
    {
        .slikaj1 {
            height: 350px;
        }
        .header3 {
            height: 130vh;
        }
    }
    @media (max-width: 1200px)
    {
        .slikaj1 {
            height: 300px;
        }
        .header1 {
            height: 150vh;
        }
    }
    @media (max-width: 992px)
{
    .tabele {
        flex-direction: column;
        align-items: center;
        
    }
    .header1 {
        height: 300vh;
    }
.zasides{
    display: flex;
    flex-direction: column;
}
.header3 {
    height: 270vh;  
}
}

.headerz1 {
    height: 100vh;
    width:100%;
    background-color: white;
}
.jedandeo {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.nekipar {
    font-weight: bold;
    font-size: 35px;
    padding-top: 120px;
    padding-bottom: 25px;
}
.malipar {
    color: gray;
    padding-bottom: 50px;
    line-height: 25px;
    font-size: 15px;
}
.veliklaptop {
    width: 700px;
}
@media (max-width: 1500px)
{.veliklaptop {
    width: 600px;
}}
@media (max-width: 1300px)
{.veliklaptop {
    width: 500px;
}}
@media (max-width: 1100px)
{.veliklaptop {
    width: 400px;
}}

.blodz {
    display: none;
    text-align: center;
}
@media (max-width: 992px)
{
    .headerz1 {
        height: 150vh;
    }
    .blod {
        display: none;
    }
    .blodz{
        display: inline;
    }
}
.maleizmene {
    height: 75vh;
    width: 100%;
    background-color: whitesmoke;
}
@media (max-width: 1300px)
{
    .maleizmene {
        height: 100vh;
    }
}
@media (max-width: 992px)
{
    .maleizmene {
        height: 200vh;
    }
}

.tezakheader {
    height: 150vh;
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: center;
    
}
.priceplan {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    padding-top: 125px;
}
.loremopet {
    color: gray;
    line-height: 25px;
    text-align: center;
}
.tabele9 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 80px;
}
    .tejbil {
        height: 550px;
        width: 360px;
        background-color:gray;
        border-radius: 5px; 
        display: flex;
        flex-direction: column;
        
    }
    .experiment {
        width: 80%;
        
        
    }

    #blockk {
        display: block;
    }
    .basic {
        height: 100px;
        background-color: purple;
    }
    .space {
        height: 200px;
        background-color: red;
    }
    .getstartedz {
        height: 210px;
        background-color: green;
        width: 280px;
        align-self: center;
        text-align: center;
    }
    .realbasic {
        text-align: center;
        padding-top: 40px;
        font-size: 20px;
        font-weight: bold;
    }
    .gbspace {
        text-align: center;
        padding-top: 25px;
        font-size: 13px;
        font-weight: bold;
    }
    .donda {
        padding-top: 30px;
    }
    .novac {
        font-size: 70px;
        font-weight: bold;
        display: inline-block;
    }
    .dolar {
        font-size: 30px;
        line-height: 50px;
        
    }
    .per1 {
        display: inline-block ;
    }

    @media (max-width: 600px)
    {
        .header1 {
            height: 200vh;
        }
        .dugmad {
            flex-direction: column;
            text-align: center;
        }
        .paraexp {
            padding-left: 0;
            margin-left: 0px;
        }
        .lorem1 {
            color: gray;
            font-size: 13px;
            padding-top: 10px;
            line-height: 20px;
            margin: 0;
            padding: 0;
            padding-top: 10px;
            padding-left: 30px;
        }
        .slikaj1 {
            height: 200px;
            padding: 0;
            padding-left: 30px;
            padding-top: 40px;
            
            
        }
        .bbb {
            height: 150px;
        }
        
        .butexp {
            margin-left: 30px;
            padding: 10px 35px;
            
        }

        .header {
            height: 90vh;
        }
        .change1 {
            font-size: 30px;
            padding-top: 80px;
            padding-left: 30px;

        }
            .zasides {
            width: 79%;
            
        }
        .onak {
            margin: 0;
            margin-top: 40px;
            align-self: flex-start;
            margin-left: 30px;
            
        }
        .header3 {
            height: 200vh;
        }
        .headerz1 {
            height: 100vh;
            width: 100%
        }
        .malipar {
            text-align: center;
        }
        .veliklaptop {
    width: 350px;
        }
        .para3 {
            font-size: 25px;
            padding: 0px;   
            padding-top: 100px;
            padding-left: 30px;
        }
        .exp {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;  
            height: 0px;
            width: 80%;
        }
        .para4{
            display: block;
            padding-left: 30px;
            
        }
        
        .but5 {
            margin: 0px;
            margin-top: 30px;
        }
        .textk {
            width: 300px;
        }
        .listen1 {
            padding-left: 30px;
        }
        .bbb {
            padding: 0;
            padding-left: 20px;
            padding-top: 30px;
            height: 200px;
        }
        .paraexp {
            width: 300px;
        }
    }
